:host {
    --p-tabs-tabpanel-padding: 0 !important;
}

.program-detail {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 72px;
}

.video-container {
    width: 100%;
    background: #000;
    aspect-ratio: 16/9;
    overflow: hidden;
}

.video-player {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .placeholder-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.content {
    background: rgba(255, 255, 255, 0.9);
    padding: 1.2rem;
}

.tabs-container {
    background: rgba(255, 255, 255, 0.9);
}

.card {
    padding-top: 0.5rem;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    color: var(--primary-color);
    margin-bottom: 0.5rem;
}

.transcripts {
    h2 {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 1rem;
        color: var(--text-color);
    }
}

.transcript-item {
    padding: 0rem;
    border-bottom: 1px solid var(--surface-border);

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    &:last-child {
        border-bottom: none;
    }

    .transcript-info {
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    
    .transcript-text-container {
        flex: 2;
        margin-left: 1rem;
    }

    .clip-duration {
        font-size: 0.9rem;
        color: var(--text-secondary-color);
        margin-bottom: 0.5rem;
    }

    .transcript-text {
        color: var(--text-color);
        line-height: 1.5;
    }
}

.action-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 72px;
    background: rgba(255, 255, 255, 0.95);
    padding: 1rem;
    border-top: 1px solid #ccc;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;

    button {
        border-radius: 2rem;
    }
}