p-menubar {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  // background-color: rgba(255, 255, 255, 0.8) !important;
  border-radius: 0 !important;
  backdrop-filter: blur(8px) !important;
  z-index: 1000 !important;
  border: none !important;

  &::ng-deep .p-menubar-root-list {
    border-radius: 0 !important;
    border: none !important;
  }
}